* {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 28px;
}

a {
    color: green;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 5px;
}

th, td {
    padding: 0.25rem;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table, .month {
    border: 1px solid;
}

