* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 16px;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  background: #f9f9f9;
  color: #000000;
  max-width: 100%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 79px;
  color: #000000;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 38px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.container {
  max-width: 540px;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 42px;
  list-style-type: none;
}

.bg-dark-blue {
  background: #34547a;
}

.bg-grey {
  background: #eeeff1;
}

.bg-light-grey {
  background: #f9f9f9;
}

.tc-white {
  color: #ffffff;
}

.tc-grey {
  color: #727272;
}

.t-center {
  text-align: center;
}

.t .menu-item {
}

.button {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
